{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Task Manager</h1>
        <div class="input-container">
            <form method="POST" action="/">
                {% csrf_token %}
                <textarea name="newEntry" placeholder="Enter new task"></textarea>
                <input type = "submit"/>
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Name</th>
                    <th style="text-align: center; vertical-align: middle;">Created Date</th>
                    <th style="text-align: center; vertical-align: middle;">Completed</th>
                    <th style="text-align: center; vertical-align: middle;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">{{entry.name}}</td>
                        <td style="text-align: center; vertical-align: middle;">{{entry.dateCreated}}</td>
                        {% if entry.completed == True %}
                            <td style="text-align: center; vertical-align: middle;">
                                <input type="checkbox" disabled checked>
                            </td>
                        {% else %}
                            <td style="text-align: center; vertical-align: middle;">
                                <input type="checkbox" disabled>
                            </td>
                        {% endif %}
                        <td style="text-align: center; vertical-align: middle;">
                            <a href="{% url 'delete-entry' entry.id %}" class="button-style" style="color: white; background-color: darkred; font-weight: bold;" >Delete</a><br>

                            <form method="POST" action="/">
                                {% csrf_token %}
                                {% if entry.completed == False %}
                                    <a href="{% url 'edit-entry' entry.id %}" class="button-style" style="color: white; background-color: green; font-weight: bold;">Complete</a>
                                {% else %}
                                    <a href="{% url 'edit-entry' entry.id %}" class="button-style" style="color: white; background-color: red; font-weight: bold;">Uncomplete</a>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
